{% extends 'base.html' %}
{% block head %}
{{ neighbor }} VS {{ neighbor1 }}
{% endblock %}


{% block body %}

<section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('https://i.pinimg.com/originals/37/9c/cb/379ccba5a68397e5366956db60585819.png');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">{{ neighbor.NeighborhoodName }} VS {{ neighbor1.NeighborhoodName }}</h1>

            <h2>Your Preferences: {{ nprice }} and {{ npop }}</h2>
<br><br>
              <h5>Category Comparison</h5>
            <form action="{% url 'comparecategory' name=neighbor.NeighborhoodName name1=neighbor1.NeighborhoodName %}" method="post">
        {% csrf_token %}
        <label>Price:</label>
        <select name="Price">
             <option value="0">Low Price</option>
             <option value="1">High Price</option>
        </select>
        <label>Population:</label>
        <select name="Population" id="id_Population">
            <option value="0">Fewer People</option>
            <option value="1">More People</option>
        </select>

        <button type="submit" class="btn btn-warning">Compare!</button>
    </form>


          </div>
        </div>
      </div>
    </section>
    <br><br>

<div class="container">
  <div class="row">
    <div class="col">
          <h1>{{ neighbor.NeighborhoodName }}</h1>
    <iframe id="map" src="{{ neighbor.Location }}" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        {% if totalavg > totalavg1 %}
        <h2  class="text-success" >Total average {{ totalavg }}</h2>
        {% else %}
        <h2  class="text-danger" >Total average {{ totalavg }}</h2>
        {% endif %}

    {% if population == '0' %}
        <h3 class="ion-ios-people"> Total Populations: </h3>
        {% if neighbor.PopulationSaudiMale < neighbor1.PopulationSaudiMale %}
        <h4 class="text-success">Populations "Male": {{ neighbor.PopulationSaudiMale }} </h4>
            {% else %}
         <h4 class="text-danger">Populations "Male": {{ neighbor.PopulationSaudiMale }} </h4>
        {% endif %}

        {% if neighbor.PopulationSaudiFemale < neighbor1.PopulationSaudiFemale %}
            <h4 class="text-success">Populations "Female": {{ neighbor.PopulationSaudiFemale }} </h4>
            {% else %}
             <h4 class="text-danger">Populations "Female": {{ neighbor.PopulationSaudiFemale }} </h4>
        {% endif %}

    {% else %}
    <h3>Total Populations: </h3>
        {% if neighbor.PopulationSaudiMale > neighbor1.PopulationSaudiMale %}
        <h4 class="text-success">Populations "Male": {{ neighbor.PopulationSaudiMale }} </h4>
            {% else %}
         <h4 class="text-danger">Populations "Male": {{ neighbor.PopulationSaudiMale }} </h4>
        {% endif %}

        {% if neighbor.PopulationSaudiFemale > neighbor1.PopulationSaudiFemale %}
            <h4 class="text-success">Populations "Female": {{ neighbor.PopulationSaudiFemale }} </h4>
            {% else %}
             <h4 class="text-danger">Populations "Female": {{ neighbor.PopulationSaudiFemale }} </h4>
        {% endif %}

    {% endif %}
    <br>
    <h3 class="ion-ios-cash"> Average Prices: </h3>
    {% if price == '0' %}
        {% if neighbor.AveragePriceLands < neighbor1.AveragePriceLands %}
            <h4 class="text-success">Lands: {{ neighbor.AveragePriceLands }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Lands: {{ neighbor.AveragePriceLands }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceAprt < neighbor1.AveragePriceAprt %}
            <h4 class="text-success">Apartments: {{ neighbor.AveragePriceAprt }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Apartments: {{ neighbor.AveragePriceAprt }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceVilla < neighbor1.AveragePriceVilla %}
            <h4 class="text-success">Villas : {{ neighbor.AveragePriceVilla}} SAR</h4>
        {% else %}
             <h4 class="text-danger">Villas : {{ neighbor.AveragePriceVilla}} SAR</h4>
        {% endif %}

    {% else %}
        {% if neighbor.AveragePriceLands > neighbor1.AveragePriceLands %}
            <h4 class="text-success">Lands: {{ neighbor.AveragePriceLands }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Lands: {{ neighbor.AveragePriceLands }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceAprt > neighbor1.AveragePriceAprt %}
            <h4 class="text-success">Apartments: {{ neighbor.AveragePriceAprt }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Apartments: {{ neighbor.AveragePriceAprt }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceVilla > neighbor1.AveragePriceVilla %}
            <h4 class="text-success">Villas : {{ neighbor.AveragePriceVilla}} SAR</h4>
        {% else %}
             <h4 class="text-danger">Villas : {{ neighbor.AveragePriceVilla}} SAR</h4>
        {% endif %}

    {% endif %}
    <br>
    <h3 class="ion-ios-school"> Schools: </h3>
        {% if neighbor.NumPublicSchools > neighbor1.NumPublicSchools %}
            <h4 class="text-success">Public Schools: {{ neighbor.NumPublicSchools }}</h4>
        {% else %}
             <h4 class="text-danger">Public Schools: {{ neighbor.NumPublicSchools }}</h4>
        {% endif %}

        {% if neighbor.NumPrivateSchools > neighbor1.NumPrivateSchools %}
            <h4 class="text-success">Private Schools: {{ neighbor.NumPrivateSchools }}</h4>
        {% else %}
             <h4 class="text-danger">Private Schools: {{ neighbor.NumPrivateSchools }}</h4>
        {% endif %}
    <br>
        {% if neighbor.NumParks > neighbor1.NumParks %}
            <h3 class="text-success ion-ios-rose">Number of Public Parks: {{ neighbor.NumParks }}</h3>
        {% else %}
             <h3 class="text-danger ion-ios-rose">Number of Public Parks: {{ neighbor.NumParks }}</h3>
        {% endif %}
    <br>
    <h3 class="ion-ios-information-circle">Public Transportation: </h3>
        {% if neighbor.NumBusStations > neighbor1.NumBusStations %}
            <h4 class="text-success">Bus Stations: {{ neighbor.NumBusStations }}</h4>
        {% else %}
             <h4 class="text-danger">Bus Stations: {{ neighbor.NumBusStations }}</h4>
        {% endif %}

        {% if neighbor.NumTrainStations > neighbor1.NumTrainStations %}
            <h4 class="text-success">Trains Stations: {{ neighbor.NumTrainStations }}</h4>
        {% else %}
             <h4 class="text-danger">Trains Stations: {{ neighbor.NumTrainStations }}</h4>
        {% endif %}

    <br>
        {% if neighbor.NumHospitals > neighbor1.NumHospitals %}
            <h3 class="text-success ion-ios-medical">Number of Hospitals: {{ neighbor.NumHospitals }}</h3>
        {% else %}
             <h3 class="text-danger ion-ios-medical">Number of Hospitals: {{ neighbor.NumHospitals }}</h3>
        {% endif %}

    </div>
    <div class="col">
          <h1>{{ neighbor1.NeighborhoodName }}</h1>
    <iframe id="map" src="{{ neighbor1.Location }}" width="400" height="250" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        {% if totalavg < totalavg1 %}
        <h2  class="text-success" >Total average {{ totalavg1 }}</h2>
        {% else %}
        <h2  class="text-danger" >Total average {{ totalavg1 }}</h2>
        {% endif %}


    <h3 class="ion-ios-people"> Total Populations: </h3>
    {% if population == '0' %}
        {% if neighbor.PopulationSaudiMale > neighbor1.PopulationSaudiMale %}
        <h4 class="text-success">Populations "Male": {{ neighbor1.PopulationSaudiMale }} </h4>
            {% else %}
         <h4 class="text-danger">Populations "Male": {{ neighbor1.PopulationSaudiMale }} </h4>
        {% endif %}

        {% if neighbor.PopulationSaudiFemale > neighbor1.PopulationSaudiFemale %}
            <h4 class="text-success">Populations "Female": {{ neighbor1.PopulationSaudiFemale }} </h4>
            {% else %}
             <h4 class="text-danger">Populations "Female": {{ neighbor1.PopulationSaudiFemale }} </h4>
        {% endif %}

    {% else %}
        {% if neighbor.PopulationSaudiMale < neighbor1.PopulationSaudiMale %}
        <h4 class="text-success">Populations "Male": {{ neighbor1.PopulationSaudiMale }} </h4>
            {% else %}
         <h4 class="text-danger">Populations "Male": {{ neighbor1.PopulationSaudiMale }} </h4>
        {% endif %}

        {% if neighbor.PopulationSaudiFemale < neighbor1.PopulationSaudiFemale %}
            <h4 class="text-success">Populations "Female": {{ neighbor1.PopulationSaudiFemale }} </h4>
            {% else %}
             <h4 class="text-danger">Populations "Female": {{ neighbor1.PopulationSaudiFemale }} </h4>
        {% endif %}
    {% endif %}


    <br>
    <h3 class="ion-ios-cash"> Average Prices: </h3>
    {% if price == '0' %}
        {% if neighbor.AveragePriceLands > neighbor1.AveragePriceLands %}
            <h4 class="text-success">Lands: {{ neighbor1.AveragePriceLands }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Lands: {{ neighbor1.AveragePriceLands }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceAprt > neighbor1.AveragePriceAprt %}
            <h4 class="text-success">Apartments: {{ neighbor1.AveragePriceAprt }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Apartments: {{ neighbor1.AveragePriceAprt }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceVilla > neighbor1.AveragePriceVilla %}
            <h4 class="text-success">Villas : {{ neighbor1.AveragePriceVilla}} SAR</h4>
        {% else %}
             <h4 class="text-danger">Villas : {{ neighbor1.AveragePriceVilla}} SAR</h4>
        {% endif %}

    {% else %}
        {% if neighbor.AveragePriceLands < neighbor1.AveragePriceLands %}
            <h4 class="text-success">Lands: {{ neighbor1.AveragePriceLands }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Lands: {{ neighbor1.AveragePriceLands }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceAprt < neighbor1.AveragePriceAprt %}
            <h4 class="text-success">Apartments: {{ neighbor1.AveragePriceAprt }} SAR</h4>
        {% else %}
             <h4 class="text-danger">Apartments: {{ neighbor1.AveragePriceAprt }} SAR</h4>
        {% endif %}

        {% if neighbor.AveragePriceVilla < neighbor1.AveragePriceVilla %}
            <h4 class="text-success">Villas : {{ neighbor1.AveragePriceVilla}} SAR</h4>
        {% else %}
             <h4 class="text-danger">Villas : {{ neighbor1.AveragePriceVilla}} SAR</h4>
        {% endif %}
    {% endif %}

    <br>
    <h3 class="ion-ios-school"> Schools: </h3>
        {% if neighbor.NumPublicSchools < neighbor1.NumPublicSchools %}
            <h4 class="text-success">Public Schools: {{ neighbor1.NumPublicSchools }}</h4>
        {% else %}
             <h4 class="text-danger">Public Schools: {{ neighbor1.NumPublicSchools }}</h4>
        {% endif %}

        {% if neighbor.NumPrivateSchools < neighbor1.NumPrivateSchools %}
            <h4 class="text-success">Private Schools: {{ neighbor1.NumPrivateSchools }}</h4>
        {% else %}
             <h4 class="text-danger">Private Schools: {{ neighbor1.NumPrivateSchools }}</h4>
        {% endif %}
    <br>
        {% if neighbor.NumParks < neighbor1.NumParks %}
            <h3 class="text-success ion-ios-rose">Number of Public Parks: {{ neighbor1.NumParks }}</h3>
        {% else %}
             <h3 class="text-danger ion-ios-rose">Number of Public Parks: {{ neighbor1.NumParks }}</h3>
        {% endif %}
    <br>
    <h3 class="ion-ios-information-circle">Public Transportation: </h3>
        {% if neighbor.NumBusStations < neighbor1.NumBusStations %}
            <h4 class="text-success">Bus Stations: {{ neighbor1.NumBusStations }}</h4>
        {% else %}
             <h4 class="text-danger">Bus Stations: {{ neighbor1.NumBusStations }}</h4>
        {% endif %}

        {% if neighbor.NumTrainStations < neighbor1.NumTrainStations %}
            <h4 class="text-success">Trains Stations: {{ neighbor1.NumTrainStations }}</h4>
        {% else %}
             <h4 class="text-danger">Trains Stations: {{ neighbor1.NumTrainStations }}</h4>
        {% endif %}

    <br>
        {% if neighbor.NumHospitals < neighbor1.NumHospitals %}
            <h3 class="text-success ion-ios-medical">Number of Hospitals: {{ neighbor1.NumHospitals }}</h3>
        {% else %}
             <h3 class="text-danger ion-ios-medical">Number of Hospitals: {{ neighbor1.NumHospitals }}</h3>
        {% endif %}


    </div>
  </div>









</div>


{% endblock %}