{% extends 'basewhite.html' %}
{% block head %}
Home
{% endblock %}
{% block htmlhead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>


{% endblock %}

{% block body %}
    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('https://c.top4top.io/p_1518pt8rl1.jpg'); " data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">

                    <h1 class="mb-3 bread" style="color: white; font-size: 10vw; font-family: Capriola">Dililah</h1>

          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal_compare">Choose a Neighborhood</button>
          </div>
        </div>
      </div>

    </section>


    <section class="ftco-section ftco-no-pb">
      <div class="container">
      	<div class="row justify-content-center">
          <div class="col-md-12 heading-section text-center ftco-animate mb-5">
          	<span class="subheading">What's Dililah</span>
            <h2 class="mb-2">Features</h2>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center"><img src="https://image.flaticon.com/icons/svg/2620/2620412.svg" height="100" width="100"></div>
              <div class="media-body py-md-4">
                <h3>Detailed information</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center"><img src="https://image.flaticon.com/icons/svg/942/942775.svg" height="100" width="100"></div>
              <div class="media-body py-md-4">
                <h3>Review</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center"><img src="https://image.flaticon.com/icons/svg/2327/2327509.svg" height="100" width="100"></div>
              <div class="media-body py-md-4">
                <h3>Compare</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
            	<div class="icon d-flex justify-content-center align-items-center"><img src="https://image.flaticon.com/icons/svg/1584/1584861.svg" height="100" width="100"></div>
              <div class="media-body py-md-4">
                <h3>Commute Calculator</h3>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>




    <div class="modal fade" id="myModal_compare">
        <div class="modal-dialog">
             <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title">Choose a Neighborhood</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                 <div class="modal-body">
                     <input class="form-control form-control-xs" id="myInput" type="text" placeholder="Search.." >
                     <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0 table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Neighborhoods</th>
                                </tr>
                            </thead>
                        <tbody id="myTable">
                        {% for n in neighbor %}
                            <tr>
                        <td scope="row"><a href="{% url 'neighborhoodinfo' name=n.NeighborhoodName %}" > {{ n.NeighborhoodName }}</a></td>
                            </tr>
                        {% endfor %}

                        </tbody>
                        </table>
                 </div>
            </div>
        </div>
  </div>
    </div>










{% endblock %}