{% extends 'base.html' %}
{% block head %}
Home
{% endblock %}


{% block body %}
<h1>Welcome To Dililah</h1>

    <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
Choose a Neighborhood  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      {% for n in neighbor %}
    <a class="dropdown-item" href="{% url 'neighborhoodinfo' name=n.NeighborhoodName %}">{{ n.NeighborhoodName }}</a>
      {% endfor %}
  </div>
</div>


{% endblock %}