{% extends 'base.html' %}
{% block head %}
{{ neighbor.NeighborhoodName }}
{% endblock %}


{% block body %}


  <div class="row">
    <div class="col">
      <h1>{{ neighbor.NeighborhoodName }}</h1>
    <iframe src="{{ neighbor.Location }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    <h3>Total Populations: </h3>
    <h4>Saudi Populations "Male": {{ neighbor.PopulationSaudiMale }} </h4>
    <h4>Saudi Populations "Female": {{ neighbor.PopulationSaudiFemale }} </h4>
    <h4>Non Saudi Populations "Male": {{ neighbor.PopulationNONSaudiMale }} </h4>
    <h4>Non Saudi Populations "Female": {{ neighbor.PopulationNONSaudiFemale}} </h4>
    <br>
    <h3>Number of Schools: </h3>
    <h4>Public Schools: {{ neighbor.NumPublicSchools }}</h4>
    <h4>Private Schools: {{ neighbor.NumPrivateSchools }}</h4>
    <br>
    <h3>Average Prices: </h3>
    <h4>Lands: {{ neighbor.AveragePriceLands }} SAR</h4>
    <h4>Apartments: {{ neighbor.AveragePriceAprt }} SAR</h4>
    <h4>Villas : {{ neighbor.AveragePriceVilla}} SAR</h4>
    <br>
    <h3>Number of Public Parks: {{ neighbor.NumParks }}</h3>
    <br>
    <h3>Public Transportation: </h3>
    <h4>Bus Stations: {{ neighbor.NumBusStations }}</h4>
    <h4>Trains Stations: {{ neighbor.NumTrainStations }}</h4>
    <br>
    <h3>Number of Hospitals: {{ neighbor.NumHospitals }}</h3>
    </div>
    <div class="col">
      <h1>Compare with any other Neighborhood: </h1>
    <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Choose a Neighborhood  </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         {% for n in compare %}
         <a class="dropdown-item" href="{% url 'compare' name=neighbor.NeighborhoodName name1=n.NeighborhoodName %}">{{ n.NeighborhoodName }}</a>
         {% endfor %}
         </div>



    </div>



    </div>
  </div>




<br><br><br>
     <div class="row">

    {% if form != None %}
        <form method="post">
     {% csrf_token %}
     {{ form.as_p }}
    <button type="submit" class="btn btn-outline-primary">Post</button>
        </form>
    {% else %}
    <h3 class="text-danger">Please <a href="{% url 'login' %}" > Sign in </a>or <a href="{% url 'register' %}">Create an account </a>  to review :)</h3>
    {% endif %}

    </div>
    <br>
        <div class="row">
         {% for r in reviews %}
            <div class="col">
                <h5>{{ r.review }}</h5>
            <br>
            <h5>Streets Quality: {{ r.rating1 }}  -  Traffic {{ r.rating2 }}  -  Facilities {{ r.rating3 }}  - Outdoor Activities {{ r.rating4 }} </h5>
                 <br>
            <h6>Created By {{ r.user }}  on {{ r.created }}</h6>
            </div>
        </div>





        {% endfor %}
    </div>









{% endblock %}



