{% extends 'base.html' %}
{% block head %}
{{ neighbor.NeighborhoodName }}
{% endblock %}
{% block htmlhead %}

 <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load("current", {packages:['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ["Neighborhood", "Average Rating", { role: "style" } ],
        ["{{neighbor.NeighborhoodName}}", {{totalavg}}, "blue"],
        ["All Neighborhoods", {{totaltest}}, "silver"]
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: "Total Average Rating",
        bar: {groupWidth: "80%"},
        legend: { position: "none" },
        backgroundColor: { fill:'transparent' },
        max: 5,
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
      chart.draw(view, options);
  }
  $(window).resize(function (){
      drawChart();

  });
  </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script  defer src="https://maps.googleapis.com/maps/api/js?libraries=places&language=en&key=AIzaSyAZfpT3LiBm2PMRrJHpyVGNnYQKMG-mpKM"  type="text/javascript"></script>
    <script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



{% endblock %}


{% block body %}


    <section class="hero-wrap hero-wrap-2 ftco-degree-bg js-fullheight" style="background-image: url('https://i.pinimg.com/originals/37/9c/cb/379ccba5a68397e5366956db60585819.png');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">{{ neighbor.NeighborhoodName }}</h1>
            <h4>Total average {{ neighbor.AverageReviews|floatformat:"2" }}</h4>
            <h5>Average reviews of Public Transportation :{% for key,avg in averg.0.items %} {{ avg|floatformat:"2" }} {% endfor %} </h5>
            <h5>Average reviews of Traffic  :{% for key,avg in averg.1.items %} {{ avg|floatformat:"2" }} {% endfor %} </h5>
            <h5>Average reviews of Public Schools :{% for key,avg in averg.2.items %} {{ avg|floatformat:"2" }} {% endfor %} </h5>
            <h5>Average reviews of Outdoor Activities :{% for key,avg in averg.3.items %} {{ avg|floatformat:"2" }} {% endfor %} </h5>
            <h6>Based on {{ count }} users' reviews</h6>






          </div>
        </div>
      </div>
    <div class="mouse">
				<a href="#" class="mouse-icon">
					<div class="mouse-wheel"><span class="ion-ios-arrow-round-down"></span></div>
				</a>
			</div>
    </section>

		<section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <!--Here is information -->
          <div class="col-md-8 order-md-last ftco-animate">
            <h1 class="goto-here">Information</h1>

    <iframe id="map" src="{{ neighbor.Location }}" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

    <div class="row d-flex">
        <div class="col-md-12 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
        <div id="columnchart_values" style="width: 100%; "></div>
              </div></div></div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="ion-ios-people"><b>Total Populations</b></h3>
                <h4> Populations "Male": {{ neighbor.PopulationSaudiMale }} </h4>
                <h4> Populations "Female": {{ neighbor.PopulationSaudiFemale }} </h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="ion-ios-school"><b> Number of Schools</b></h3>
                <h4 class>Public Schools: {{ neighbor.NumPublicSchools }}</h4>
                <h4>Private Schools: {{ neighbor.NumPrivateSchools }}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="ion-ios-cash"><b> Average Prices </b> </h3>
                <h4>Lands: {{ neighbor.AveragePriceLands }} SAR</h4>
                <h4>Apartments: {{ neighbor.AveragePriceAprt }} SAR</h4>
                <h4>Villas : {{ neighbor.AveragePriceVilla}} SAR</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="ion-ios-information-circle"> <b>Public Transportation:</b></h3>
                <h4>Bus Stations: {{ neighbor.NumBusStations }}</h4>
                <h4>Trains Stations: {{ neighbor.NumTrainStations }}</h4>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="ion-ios-rose"><b> Number of Public Parks: </b> {{ neighbor.NumParks }}</h3>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex ftco-animate">
          	<div class="blog-entry justify-content-end">
              <div class="text">
                <h3 class="ion-ios-medical"><b> Number of Hospitals:</b> {{ neighbor.NumHospitals }}</h3>
              </div>
            </div>
          </div>


      </div>







          </div> <!-- .col-md-8 -->
          <!-- Here is the compare -->
          <div class="col-md-3 sidebar ftco-animate">


          <div class="sidebar-box ftco-animate">
              <h2>Compare</h2>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_compare">Choose a Neighborhood</button>

          </div>
          <div class="sidebar-box ftco-animate">
           <h4>Commute Calculator</h4>
          <div class="item">
                <div class="testimony-wrap py-4">
                  <div class="text">
                      <form id="distance_form">
                        <div class="form-group"><label>Origin: </label>
                        <input class="form-control" id="from_places" placeholder="{{ neighbor.NeighborhoodName }}" readonly />
                        <input id="origin" name="origin" required="" type="hidden" value="{{ neighbor.NeighborhoodName }}" ></div>

                        <div class="form-group"><label>Destination: </label> <input class="form-control" id="to_places" placeholder="Enter a location" /> <input id="destination" name="destination" required="" type="hidden" /></div>
                          <input class="btn btn-primary btn-sm" type="submit" value="Calculate" /></form>
                    <div class="d-flex align-items-center">
                    	<div class="pl-3">
                            <p class="name" id="commute_text"><p id="duration_text" style="color: green"></p></p>
                            <p class="name" id="distance_text"><p id="in_mile" style="color: green"></p> </p>

		                  </div>
	                  </div>
                  </div>
                </div>
          </div> </div>


        </div>
      </div>

      <div class="row">
          <div class="col-md-12 order-md-last ftco-animate">

               <div class="pt-5 mt-5">

              <h3 class="mb-2">{{ count }} Review{{ reviews|pluralize }}</h3><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Post a Review </button>

            <hr>
            <br><br>


              <ul class="comment-list">
                {% for r in reviews %}
                <li class="comment">
                  <div class="vcard bio">
                    <img src="{{ r.user.userprofile.profile_picture.url }}" alt="Image placeholder">
                  </div>
                  <div class="comment-body">
                    <a href="{% url 'usersProfile' pk=r.user.id %}"><h3 class="testt">{{ r.user }}</h3></a>
                    <div class="meta">{{ r.created }}</div>
                    <p>{{ r.review }}
                       {% if r.user.id != request.id %} <a class="btn btn-outline-danger" style="float: right" href="{% url 'reportReview' id=r.id %}">Report</a>{% endif %}</p>
                    <hr>
                    <p class="" style="color: hotpink">Public Transportation: {{ r.rating1 }}  -  Traffic {{ r.rating2 }}  -  Public Schools {{ r.rating3 }}  - Outdoor Activities {{ r.rating4 }}</p>
                    <p><a href="{% url 'reviewDetails' id=r.id %}" class="reply">Reply</a></p>
                    <form action="{% url 'likereview' %}" method="post">
                        {% csrf_token %}
                        {% if is_liked == None %}
                          <button type="submit" name="reviewid" value="{{ r.id }}" class="btn btn-danger btn-sm" disabled>Only Users can like</button><p>  {{ r.total }} Like{{ r.total|pluralize }} </p>
                        {% else %}
                        <button type="submit" name="reviewid" value="{{ r.id }}" class="btn btn-outline-primary btn-sm" style="float: left">👍</button><p style="float: contour">  {{ r.total }} Like{{ r.total|pluralize }} </p>
                        {% endif %}
                    </form>

                      {% if request.id == r.user.id %}
                        <form action="{% url 'deletereview' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" name="revid" value="{{ r.id }}" class="btn btn-danger btn-sm" style="float: contour">Delete</button>
                        </form>
                      {% endif %}




                  </div>

                </li>
                    {% if r.totalReplies != 0 %}
                    <p><a href="{% url 'reviewDetails' id=r.id %}" class="reply">View {{ r.totalReplies }} Replies</a></p>
                    {% endif %}
                {% endfor %}
              </ul>

              <!-- END comment-list -->


            </div>


          </div>


      </div>

     <div class="modal fade" id="myModal">
        <div class="modal-dialog">
             <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Post a review</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                 <div class="modal-body">
                {% load crispy_forms_tags %}
                {% if form != None %}
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy}}
                    <button type="submit" class="btn btn-outline-primary">Post</button>
                    </form>
                {% else %}
                    <h3 class="text-danger">Please <a href="{% url 'login' %}" > Sign in </a>or <a href="{% url 'register' %}">Create an account </a>  to review :)</h3>
                {% endif %}
                 </div>
            </div>
        </div>
  </div>

      <div class="modal fade" id="myModal_compare">
        <div class="modal-dialog">
             <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title">Choose a Neighborhood to compare with</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                 <div class="modal-body">
                     <input class="form-control form-control-xs" id="myInput" type="text" placeholder="Search.." >
                     <div class="table-wrapper-scroll-y my-custom-scrollbar">
                        <table class="table table-bordered table-striped mb-0 table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">Neighborhoods</th>
                                </tr>
                            </thead>
                        <tbody id="myTable">
                        {% for n in compare %}
                            <tr>
                          {% if user.is_authenticated %}
                        <td scope="row"><a href="{% url 'comparepref' name=neighbor.NeighborhoodName name1=n.NeighborhoodName %}" > {{ n.NeighborhoodName }}</a></td>
                        {% else %}
                        <td scope="row"><a href="{% url 'compare' name=neighbor.NeighborhoodName name1=n.NeighborhoodName %}" > {{ n.NeighborhoodName }}</a></td>
                        {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                        </table>
                 </div>
            </div>
        </div>
  </div>








        </section> <!-- .section -->









<script>
    $(function() {
        // add input listeners
        google.maps.event.addDomListener(window, 'load', function () {
            var from_places = new google.maps.places.Autocomplete(document.getElementById('from_places'));
            var to_places = new google.maps.places.Autocomplete(document.getElementById('to_places'));

            google.maps.event.addListener(from_places, 'place_changed', function () {
                var from_place = from_places.getPlace();
                var from_address = from_place.formatted_address;
                $('#origin').val(from_address);
            });

            google.maps.event.addListener(to_places, 'place_changed', function () {
                var to_place = to_places.getPlace();
                var to_address = to_place.formatted_address;
                $('#destination').val(to_address);
            });

        });
        // calculate distance
        function calculateDistance() {
            var origin = $('#origin').val();
            var destination = $('#destination').val();
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix(
                {
                    origins: [origin],
                    destinations: [destination],
                    travelMode: google.maps.TravelMode.DRIVING,
                    unitSystem: google.maps.UnitSystem.IMPERIAL, // miles and feet.
                    // unitSystem: google.maps.UnitSystem.metric, // kilometers and meters.
                    avoidHighways: false,
                    avoidTolls: false
                }, callback);
        }
        // get distance results
        function callback(response, status) {
            if (status != google.maps.DistanceMatrixStatus.OK) {
                $('#result').html(err);
            } else {
                var origin = response.originAddresses[0];
                var destination = response.destinationAddresses[0];
                if (response.rows[0].elements[0].status === "ZERO_RESULTS") {
                    $('#result').html("Better get on a plane. There are no roads between "  + origin + " and " + destination);
                } else {
                    var distance = response.rows[0].elements[0].distance;
                    var duration = response.rows[0].elements[0].duration;
                    var distance_in_kilo = distance.value / 1000; // the kilo
                    var distance_in_mile = distance.value / 1609.34; // the mile
                    var duration_text = duration.text;
                    var duration_value = duration.value;
                    var v = '';
                    var distance_concat = v.concat(distance_in_mile.toFixed(2), ' Miles');
                    $('#in_mile').text(distance_concat);
                    $('#in_kilo').text(distance_in_kilo.toFixed(2));
                    $('#duration_text').text(duration_text);
                    $('#duration_value').text(duration_value);
                    $('#commute_text').text('Est. Commute time: ');
                    $('#distance_text').text('Est. Distance: ');
                }
            }
        }
        // print results on submit the form
        $('#distance_form').submit(function(e){
            e.preventDefault();
            calculateDistance();
        });

    });

</script>
<script>
    $(document).ready(function () {
$('#dtVerticalScrollExample').DataTable({
"scrollY": "200px",
"scrollCollapse": true,
});
$('.dataTables_length').addClass('bs-select');
});
</script>

{% endblock %}



